<div class="container">
  <div style="text-align: center;">
    <h2>Register</h2>
  </div>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  <div style="display: flex; justify-content: center;">
    <form (ngSubmit)="register()" style="width: 300px;">
      <mat-card>
        <mat-card-content>
          <div class="form-group">
            <mat-form-field appearance="fill">
              <mat-label>Username</mat-label>
              <input matInput type="text" name="username" [(ngModel)]="username" required>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput type="email" name="email" [(ngModel)]="email" required>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput type="password" name="password" [(ngModel)]="password" required>
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions style="justify-content: space-between;">
          <button mat-raised-button type="submit" color="primary">Register</button>
          <button mat-raised-button type="button" color="warn">Cancel</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
