<div class="login-container">
    <mat-card class="login-card">
        <mat-card-header>
            <mat-card-title>Iniciar sesión</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="login-form" (ngSubmit)="login()">
                <mat-grid-list cols="1" rowHeight="100px">  
                    <mat-grid-tile>
                        <mat-form-field appearance="fill">
                            <mat-label>Nombre de usuario</mat-label>
                            <input matInput placeholder="Introduce tu nombre de usuario" [(ngModel)]="username" name="username">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field appearance="fill">
                            <mat-label>Contraseña</mat-label>
                            <input matInput type="password" placeholder="Introduce tu contraseña" [(ngModel)]="password" name="password">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <button mat-raised-button color="primary" type="submit">Iniciar sesión</button>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <button mat-button color="primary" routerLink="/register">Registrarse</button>
                    </mat-grid-tile>
                </mat-grid-list>
            </form>
            <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
        </mat-card-content>
    </mat-card>
</div>
